
@font-face 
{
    font-family: 'HeMan-Preto'; 
    src: url('Fonte/He-Man-Preto.ttf') format('truetype');
}


td {
  font-family: 'HeMan-Preto'; 
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
}

button {
  background-color: white;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
